<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<h1>Connexion</h1>

<form id="loginForm" method="POST" action="/login">
    <label>Email :</label>
    <input type="email" name="email" required><br><br>

    <label>Mot de passe :</label>
    <input type="password" name="password" required><br><br>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <button type="submit">Se connecter</button>
</form>
</body>
</html>